*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz



wp-content/themes/twentyseventeen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/deploy/tmp
wp-content/themes/deploy/bin
wp-content/themes/deploy/acf-json/group_langtr_2.json

nbproject
/nbproject
/nbproject/*


.vscode
/.vscode/


package-lock.json
wp-content/uploads/
wp-content/cache/
node_modules/
.idea/
wp-content/themes/deploy/assets/css/.sass-cache
wp-content/themes/deploy/assets/css/plyr/.sass-cache
wp-content/themes/deploy/assets/sessions-slides/css/.sass-cache

wp-content/*.tar.gz
token.json

/wp-content/themes/deploy/.vscode